<!DOCTYPE HTML>
<html>
<head> 
    <title>Add Guest - PJEE</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles/style.css"></style>
    <script src="scripts/form.js"></script>
</head>
<body>
    <div style="width: 100vw;height:100vh;display: flex;">
        <div class="form-box">
            <h1>Create User</h1>
            <button id="button-add-participant" class="button" onclick="window.location.href = '/';">Home</button>
            <button id="button-add-participant" class="button" onclick="window.location.href = '/manageParticipant';">Manage Participant</button>
            <div class="separator"></div>
            <form action="/saveParticipant" method="post">
                <h3>First Name:</h3>
                <input type="text" id="input-first-name" class="input" name="firstName" placeholder="First Name">
                <h3>Last Name:</h3>
                <input type="text" id="input-last-name" class="input" name="lastName" placeholder="Last Name">
                <h3>Email:</h3>
                <input type="email" id="input-mail" class="input" name="email" placeholder="Email">
                <h3>Birth date:</h3>
                <input type="date" id="input-birth" class="input" name="birthDate" placeholder="Birth Date">
                <h3>Company:</h3>
                <input type="text" id="input-company" class="input" name="enterprise" placeholder="Company">
                <h3>Comment (optional):</h3>
                <textarea id="input-comment" class="comment" name="comment" placeholder="Comment"></textarea>
                <div style="width: 100%; text-align: center;">
                    <input type='submit' id="submit-user" class="submit" name="user_submit" value="+"></input>
                </div>
            </form>
        </div>
    </div>
    <script src="scripts/createUser.js"></script>
</body>
</html>
