<!DOCTYPE HTML>
<html>
<head> 
    <title>Manage Guest - PJEE</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles/style.css"></style>
</head>
<body>
    <div style="width: 100vw;height:100vh;display: flex;">
        <div id="manage-guest-container" class="big-form-box">
            <h1>Manage Guest :</h1>
            <button id="button-add-guest" class="button" onclick="window.location.href = '/addParticipant';">Add Guest</button>
            <div class="separator"></div>
        </div>
    </div>
    <script src="scripts/manageParticipant.js"></script>
</body>